*{
	margin: 0;
	padding: 0;
}
body{
	background: #eef2f5;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
a{
	text-decoration: none;
}
.main{
	background: #0078d8;
	height: 361px;
}
.center{
	width: 741px;
	margin: 0 auto;

}
.center h1{
	height: 122px;
	width: 343px;
	background: url(./images/logo.png) no-repeat;
	position: absolute;
	top: 119px;
	text-indent: -9999px;
}
.from{
	width: 202px;
	height: 318px;
	background: #0078d8;
	font-size: 14px;
	float: right;
	padding-top:43px;
}
.from .zhuc{
	color: #fff;
	width: 202px;
	height: 41px;
}
.zhuc-name,.zhuc-gmail,.zhuc-pass,.zhuc-ipt{
	height: 53px;
	width: 202px;
}
.zhuc-name input{
	width: 70px;
	height: 17px;
	
}
.zhuc-name .last{
	margin-left: 10px;
}
.from input{
	border-radius: 5px;
	border:1px solid #fff;
	color: #ccc;
	padding: 8px 10px;
	box-shadow: 0 1px 2px inset,0 1px 0;
}
.zhuc-gmail input{
	width: 180px;
	height: 17px;
}
.zhuc-pass input{
	width: 180px;
	height: 17px;
}
.zhuc-ipt a{
	text-decoration: none;
	width: 100%;
	text-align: center;
	line-height: 35px;
	background: #9cf;
	display: block;
	color: #fff;
	border-radius: 5px;
}
.weib{
	height: 22px;
	line-height: 22px;
	margin-left:8px;
	color: #fff;
	font-size: 15px;
}
.weib a{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: -4px;
}
.weib .weibo{
	background: url(./images/icon.png) no-repeat;
	background-position: 0 0;
}
.weib .qq{
	background: url(./images/icon.png) no-repeat;
	background-position: -32px 0;
}
.content{
	width: 743px;
	height: 375px;
	margin: 49px auto 0;
}
.con-left{
	width: 210px;
	height: 375px;
	float: left;
}
.con-left a:hover img{
	transform:scale(1.2,1.2);
	border-radius: 50%;
    transition:all 1s;

}
.con-left a:hover{
	border:none;
	margin:0 7px; 
	opacity: 0.8;
}
.con-left img{
	height: 52px;
	width: 52px;
	border-radius: 50%;
	transition:all 1s;
}
.con-left a{
	display: inline-block;
	height: 52px;
	width: 52px;
	border-radius: 50%;
	border:6px solid #fff;
	margin: 1px;
}
.con-right{
	width: 440px;
	height: 321px;
	float: right;
	background: #fff;
	border-radius: 5px;
	padding: 27px 30px;
	box-shadow: 1px 1px 2px #ccc;
}
.con-right i{
	display: block;
	background: url(./images/jt.png) no-repeat;
	width: 9px;
	height: 19px;
	position: absolute;
	margin-left: -38px;
}
.con-right-top{
	height: 50px;
}
.con-rtr{
	float:left;
	margin-left: 17px;
}
.con-right-top .num{
	margin-top: 5px;	
	color: #7491A8;
}
.con-right-bor{
	border-top: 1px solid #ccc;
	margin-top: 20px;
	margin-bottom: 20px;
}
.con-right-p1 p{
	height: 64px;
}
.k{
	float: left;
	display: block;
	width: 38px;
	height: 25px;
	line-height: 25px;
	color: #fff;
	font-size: 14px;
	border-radius: 2px;
	background: #b0c5d6;
	text-align: center;
}
.con-right-p2 p{
	height: 40px;
}
.con-right-p3 p{
	height: 40px;
}
.con-right-p4 p{
	height: 40px;
}
.con-right-p4 p{
	height: 47px;
}
.con-right p{
	margin-left: 46px;
}
.con-right a{
	color: #7491A8;
}
.con-right-img{
	width: 46px;
	height: 46px;
	border-radius: 25px;
	float: left;
}
.footer{
	height: 100px;
	margin-top: 50px;
}
.foot-center{
	width: 742px;
	height: 38px;
	margin:0 auto;
}
.foot-left{
	width: 311px;
	height: 38px;
	float: right;
	margin-right: 34px;
	font-size: 12px;
	color: #aebdc9;
}
.foot-left div{
	margin: 3px 0;
}
.footer .foot-left a{
	font-size: 12px;
	color: #aebdc9;
}
.foot-left .ico{
	margin: 0 3px;
}
.foot-right{
	width: 384px;
	height: 38px;
	float: right;
}
.foot-right div{
	display: block;
	height: 37px;
	background: #cad5de;
	border-radius: 5px;
	float: left;
	color: #fff;
}
.apple{
	width: 153px;
}
.android{
	width: 183px;
	margin-left: 33px;
}
.foot-right a{
 color: #fff;
line-height: 37px;
display: block;
height: 37px;
float: left;
}
.foot-right .app-a{
	display: block;
	width: 20px;
	height: 26px;
	background: url(./images/app.png) no-repeat;
	background-position: 0 0;
	margin: 4px 5px 6px 7px;
}
.foot-right .app-g{
	display: block;
	width: 23px;
	height: 26px;
	background: url(./images/app.png) no-repeat;
	background-position: -24px 0;
	margin: 4px 5px 6px 8px;
}